label {
  display: flex;
  margin-bottom: 5px;
  font-weight: 800;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all ease-in .2s;
}
input:focus {
  outline: none;
  border: 1px solid #6d28d0;
  box-shadow: 2px 2px 20px -5px rgba(109,40,208,0.61);
  -webkit-box-shadow: 2px 2px 20px -5px rgba(109,40,208,0.61);
  -moz-box-shadow: 2px 2px 20px -5px rgba(109,40,208,0.61);
}
.formControl {
  margin: 20px 0;
}
.error {
  font-size: 12px;
  font-weight: 400;
  color: red;
  margin-top: 10px;
}
.disabled {
  opacity: 40%;
  cursor: not-allowed;
}
